*{
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: "Pacifico", cursive;
    margin: 0;
    padding: 0;
    background-color: #f7f3d5;
}

button {
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border: 2px solid #635063;
    display: flex;
    align-items: center;
}

.titulo {
    font-family: "Pacifico", cursive;
    font-size: 30px;
    color:#e88087;
    padding: 10px;
}
.texto {
    font-family: "Pacifico", cursive;
    font-size: 20px;
    padding: 20px;
    color: #635063;
    background-color: #f7f3d5;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav a {
    color: #f7f3d5;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    font-family: "Pacifico", cursive;
    background: #e88087;
    color: #f7f3d5;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}

header {
    background: #e88087;
    padding: 10px 20px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.friends {
    text-align: center;
    margin: 0;
    padding: 1;
}


.video {
    text-align: center;
    margin: 0;
    padding: 0;
}