.video-container {
    position:relative;
    width: 640px;
}
.controls {
    background-color: dimgray;
    color: white;
    padding: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 640px;
}
.controls button, .controls input {
    margin-right: 10px;
}
video {
    width: 640px;
    height: auto;
}

